div.text {
  margin-top: 20px;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
  font-weight: 500;
}

#author h3, p {
  color: #333;
  display: inline-block;
  padding: 0;
  margin: 0;
}

pre {
  padding: 5px;
  font-size: 16px;
  background: rgb(206, 206, 206);
}